{% extends 'base.html' %}
{% block title %}Arts and Humanities Department
{% endblock title %}
{% block head %}
<style>
   b{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 200px;
    font-size: 27px;
  }
.album py-5 bg-light{
margin-bottom:5px;
padding-bottom:5px;
}
   h1,h2{
      text-align: center;
    text-decoration: solid;
  text-decoration:underline;
  }
  h2{
  padding-bottom: 15px;
        padding-top: 1px;
  }
  .one{
  background-color:green;
  padding-bottom:10px
  padding-top:10px
  margin-top:10px
  margin-bottom:10px


  }
</style>

{% endblock head %}
{% block body %}
<div class="one">
  <h1>Art and Humanities.</h1>
<h2>Department</h2>
</div>
<div class="album py-5 ">
    <b>Our special memories</b>
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" height="205" src="/static/collection/arts_photos/aimg1.jpg" alt="Placeholder Image">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/static/collection/arts_photos/aimg1.jpg"> <button type="button" class="btn btn-sm btn-outline-secondary"> View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" height="205" src="/static/collection/arts_photos/aimg2.jpg" alt="Placeholder Image">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/static/collection/arts_photos/aimg2.jpg"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" height="205" src="/static/collection/arts_photos/aimg3.jpg" alt="Placeholder Image">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/static/collection/arts_photos/aimg4.jpg"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" height="205" src="/static/collection/arts_photos/aimg5.jpg" alt="Placeholder Image">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="/static/collection/arts_photos/aimg5.jpg"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" height="205" src="/static/collection/arts_photos/aimg3.jpg" alt="Placeholder Image">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
               <a href="/static/collection/arts_photos/aimg3.jpg"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" height="205" src="/static/collection/arts_photos/aimg6.jpg" alt="Placeholder Image">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a href="/static/collection/arts_photos/aimg6.jpg"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
{% endblock body %}