{% extends 'base.html' %}
{% block title %}Chemistry and Microbiology
{% endblock title %}
{% block head %}
<style>
     body{
    background-color:#ca2e78;
    }
    .album py-5{
    padding-top:0px;
    }
   b{
    margin-bottom: 5px;
    margin-bottom: 1rem;
    margin-left: 200px;
    font-size: 27px;
        padding-bottom: 10px;
  }
.album py-5 bg-light{
margin-bottom:5px;
padding-bottom:5px;
}
  h1,h2{
      text-align: center;
    text-decoration: solid;
  text-decoration:underline;
   padding-top:20px
  margin-top:20px
  }
  h2{
  padding-bottom: 15px;
    padding-top: 1px;

  }
  .one{
  padding-bottom:10px
  padding-top:20px
  margin-top:20px
  margin-bottom:10px


  }
</style>

{% endblock head %}
{% block body %}
<div class="one">
  <h1>Chemistry and Microbiology</h1>
<h2>Department</h2>
</div>
<div class="album py-5 ">
    <b>Our special memories</b>
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" height="205" src="/static/collection/micro_photos/mimg21.jpg" alt="Placeholder Image">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/static/collection/micro_photos/mimg21.jpg"> <button type="button" class="btn btn-sm btn-outline-secondary"> View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" height="205" src="/static/collection/micro_photos/mimg22.jpg" alt="Placeholder Image">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/static/collection/micro_photos/mimg22.jpg"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" height="205" src="/static/collection/micro_photos/mimg20.jpg" alt="Placeholder Image">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/static/collection/micro_photos/mimg20.jpg"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" height="205" src="/static/collection/micro_photos/mimg18.jpg" alt="Placeholder Image">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="/static/collection/micro_photos/mimg18.jpg"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" height="205" src="/static/collection/micro_photos/mimg17.jpg" alt="Placeholder Image">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
               <a href="/static/collection/micro_photos/mimg17.jpg"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" height="205" src="/static/collection/micro_photos/mimg16.jpg" alt="Placeholder Image">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a href="/static/collection/micro_photos/mimg16.jpg"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" height="205" src="/static/collection/micro_photos/mimg15.jpg" alt="Placeholder Image">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/static/collection/micro_photos/mimg15.jpg"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" height="205" src="/static/collection/micro_photos/mimg13.jpg" alt="Placeholder Image">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a href="/static/collection/micro_photos/mimg13.jpg"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" height="205" src="/static/collection/micro_photos/mimg8.jpg" alt="Placeholder Image">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/static/collection/micro_photos/mimg8.jpg"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}